// Import page-specific CSS files here.

// body{
//   overflow-x: hidden
// }
.card-container {
  display: flex;
  justify-content: space-between;
}
.custom-card {
  width: 23%; /* Adjust the width as needed */
  margin-bottom: 20px;
  border: 1px solid #ddd; /* Border for separation */
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift effect */
  transition: transform 0.3s ease-in-out;
}
.custom-card:hover {
  transform: scale(1.05); /* Scale up on hover for a subtle zoom effect */
}
.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 150px;

}

.container {
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
margin-top: 34px;
}

.btn.btn-primary.book-now {
  display: block;
  margin: 0 auto;
}

@import "home";
