


 <div class="container-index">
  <div class="card-container">
<%  @pitches.each do |stade| %>
    <div class="custom-card">
      <img src="<%= stade.img %>" alt="card" class="card-img-top">
      <div class="card-body">
        <h3 class="card-title"><%= stade.name %></h3>
        <p class="card-text"><%= stade.des %></p>
          <div id="booking-form" data-controller="reservation" data-action="click->reservation#submit">
            <label for="date">Date:</label>

            <form action="/bookings" method="post">
              <input type="datetime-local" id="date" name="booking[date]" >
              <input type="hidden" id="idstade" value="<%= stade.id %>" name="booking[stade_id]" >
              <input type="submit" value="Book now" class="btn btn-primary" >
            </form>
          </div>
       </div>
     </div>
<% end %>
</div>
</div>
