
<html>

  <head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <title>Glitch</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css" />

  </head>
    <body>


 <div class="home">



<section class="video">

<div class="container_cc">
  <div class="glitch" data-text="KICKITNOW">KICKITNOW</div>
  <div class="glow">KICKITNOW</div>

  </div>
  <div class="scanlines"></div>
  <video autoplay muted loop>
    <source src="/images/videok.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
<%# <button>book now</button> %>
<div class="container text text-light py-5 aos-init aos-animate"data-aos="fade-right">

  <div class="my-3">
  <a class="butn" href="/pitches">Book Now!</a>
  </div>
  </div>
</section>

<section class="about_us">
<div class="about">
<h2>KickitNow</h2>
<p>
 Welcome to KickItNow – Your Premier Destination for Soccer Pitch Bookings!

At KickItNow, we're passionate about soccer and dedicated to providing enthusiasts with a seamless and enjoyable experience when it comes to booking soccer pitches. Whether you're a casual player looking for a friendly match with friends or a team gearing up for a serious training session, KickItNow is your go-to platform.
</p>
</div>
<div class="image__contaire">
<img src="images/ball.jpeg" alt="rss feed" />
</div>
</section>

<section class="testimonies">
<h2>Testimonials</h2>
<div class="card__testimonies">
 <div class="card">
    <div class="card__title">
      <img src="images/test2.jpg">
      <p>Anas</p>
    </div>
    <div class="card__body">
      "KickItNow has revolutionized how I book soccer pitches! The platform is so easy to use, and I can quickly secure a spot for my weekly matches with friends. The variety of high-quality pitches available has made every game a memorable experience. Thanks, KickItNow, for making my soccer passion even more enjoyable!"
    </div>
 </div>
 <div class="card">

    <div class="card__title">
      <img src="images/test1.jpg">
      <p>Ayoub</p>
    </div>
    <div class="card__body">
      "As a team captain, finding the right pitch for our training sessions is crucial. KickItNow has become our go-to solution. The platform's flexibility in booking, combined with the excellent facilities offered by their partner locations, has greatly contributed to our team's success. KickItNow is a game-changer for any serious soccer team!"
    </div>
 </div>
 <div class="card">
    <div class="card__title">
      <img src="images/test3.jpg">
      <p>Mouad</p>
    </div>
    <div class="card__body">
      "Being a soccer enthusiast, KickItNow has become my virtual soccer companion. The platform not only provides hassle-free pitch bookings but also connects me with a community of fellow soccer lovers. I've discovered new pitches, made new friends, and elevated my soccer experience. KickItNow truly understands the pulse of the soccer community."
    </div>
 </div>
 </div>
