.logo__container {
  height: 40px;
  width: 200px;
  img {
    width: 90px  !important;
    object-fit: cover  !important;
    margin-top: -22px  !important;
    margin-left: -10px  !important;
  }
}
.nav-link {
  font-family: Poppins;
  font-weight: 800 !important;
}
.dropdown {
  margin-left: 24px;
}
.navbar-lewagon {
  justify-content: space-between;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100%;
}


body.theme-dark {
  // .nav-link {
  //   color: white !important;
  // }
  .navbar-lewagon {
    background: black;
  }

  .card {
    background-color: rgb(255, 251, 251);
  }


}

body.theme-light {

  .navbar-lewagon {
     background: rgb(188, 179, 179);
   }

   .card {
    background-color: gray;
}
p.nom{
  color: black;
 }
 .footer-distributed{
  background-color: gray;
 }
 .nouha{
  color:black
 }
 .footer-company-about{
  color: white;
 }
}
